
<center> <h2> Current User: <%= "#{current_user.username}" %> </h2> </center>
<% if @loads.length == 0 %>
  <center> <h3> No loads available.</h3> </center>
<% else %>
  <center>
    <table>
      <tr>
        <th scope="col"><center>Trip Name/ID</center></th>
        <th scope="col"><center>Driver Name</center></th>
        <th scope="col"><center>Trip Status</center></th>
      </tr>
      <% @loads.each do |load| %>
        <tr>
          <td><center><a href=<%="/loads/#{load.id}"%>><%=load.load_name %></a></center></td>
          <td><center><%=load.first_name %> <%=load.last_name%></center></td>  
          <td><center>On Time</center></td>     
        </tr>
      <% end %>
    </table>
  </center>
<% end %>
<center>
  <form method="get" action="/loads/new">
    <div>
      <button type="submit">Create New Load</button>
    </div>
  </form> 
</center>
<center>
  <form method="get" action="/logout"> 
    <div>
      <button type="submit">Log Out</button>
    </div>
  </form>
</center>

