
<center> <h2> Current User: <%= "#{current_user.username}" %> </h2> </center>
<% if @loads.length == 0 %>
<center> <h3> No loads available.</h3> </center>
<% else %>
  <% @loads.each do |load| %>
    <ol>
    <li><a href=<%="/loads/#{load.id}"%>><%=load.load_name %>, <%= load.first_name %> <%= load.last_name %></a></li>
    </ol>
  <% end %>
<% end %>
<br />
<center> <form method="get" action="/loads/new">
<button type="submit">Create New Load</button></form> </center>
<center> <form method="get" action="/logout"> 
<button type="submit">Log Out</button></form> </center>
